WEBBROWSER_TEST_USER_THUMBPRINT=${Webbrowser Test User.thumbprint}
{{#project.organizations}}
{{=<% %>=}}<%nameUC%>_BUNDLE_USER_THUMBPRINT=${<%name%>-client.thumbprint}<%={{ }}=%>
{{/project.organizations}}

PROCESS_VERSION=2.0.0.1