<ActivityDefinition xmlns="http://hl7.org/fhir">
	<meta>
		<profile value="http://dsf.dev/fhir/StructureDefinition/activity-definition" />
		<tag>
			<system value="http://dsf.dev/fhir/CodeSystem/read-access-tag" />
			<code value="ALL" />
		</tag>
	</meta>
	<extension url="http://dsf.dev/fhir/StructureDefinition/extension-process-authorization">
		<extension url="message-name">
			<valueString value="helloWorld" />
		</extension>
		<extension url="task-profile">
			<valueCanonical value="http://{{ project.getProcessOrganizationName }}/fhir/StructureDefinition/task-hello-world|#{version}" />
		</extension>
		<extension url="requester">
			<valueCoding>
				<system value="http://dsf.dev/fhir/CodeSystem/process-authorization" />
				<code value="LOCAL_ALL" />
			</valueCoding>
		</extension>
		<extension url="requester">
			<valueCoding>
				<extension url="http://dsf.dev/fhir/StructureDefinition/extension-process-authorization-practitioner">
					<valueCoding>
						<system value="http://dsf.dev/fhir/CodeSystem/practitioner-role" />
						<code value="DIC_USER" />
					</valueCoding>
				</extension>
				<system value="http://dsf.dev/fhir/CodeSystem/process-authorization" />
				<code value="LOCAL_ALL_PRACTITIONER" />
			</valueCoding>
		</extension>
		<extension url="recipient">
			<valueCoding>
				<system value="http://dsf.dev/fhir/CodeSystem/process-authorization" />
				<code value="LOCAL_ALL" />
			</valueCoding>
		</extension>
	</extension>
	<url value="http://{{ project.getProcessOrganizationName }}/bpe/Process/helloWorld" />
	<!-- version managed by bpe -->
	<version value="#{version}" />
	<name value="HelloWorld" />
	<title value="Hello World" />
	<subtitle value="Example Template Process as template for implementation of novel processes" />
	<!-- status managed by bpe -->
	<status value="unknown" />
	<experimental value="false" />
	<!-- date managed by bpe -->
	<date value="#{date}" />
	<publisher value="DSF" />
	<contact>
		<name value="DSF" />
		<telecom>
			<system value="email" />
			<value value="dsf-gecko@hs-heilbronn.de" />
		</telecom>
	</contact>
	<description value="Example process as template for implementation of novel processes" />
	<kind value="Task" />
</ActivityDefinition>